/*css document*/


body
{
	padding-top:40px;
	padding-bottom:40px;
	background-color: #74AFAD;

}

#lgfrm
{
	margin:20px auto;
	width:400px;
	padding:20px;

	background-color: #fff;	
	border:5px solid #e5e5e5;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.control-group .help {
	display: none;
}

.control-group.error .help {
	display: block;
}
