/*css document*/


body
{
	padding-top:40px;
	padding-bottom:40px;
	background-color: #74AFAD;

}

#lgfrm
{
	margin:20px auto;
	width:400px;
	padding:20px;

	background-color: #d8e8e8;	
	border:1px solid #68a8a6;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.5);
       -moz-box-shadow: 0 10px 20px rgba(0,0,0,.5);
            box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.img {
  width: 120px;
  height: 120px;
  padding-top:10px;
  padding-bottom:10px;
  margin-right:auto; 
  margin-left:auto;
  -moz-border-radius: 72px;
  -webkit-border-radius: 72px;
  border-radius: 72px;
  }

.control-group .help {
	display: none;
}

.control-group.error .help {
	display: block;
}
